
<body>
    <h1>Datos de colegio: Colegio Proyectos e Innovación</h1>
    <form id="schoolForm">
        <label for="schoolBadge">Insignia del colegio:</label><br>
        <input type="file" id="schoolBadge" name="schoolBadge"><br>
        <button type="button">Eliminar imagen</button><br>
        <label for="schoolName">Nombre del colegio:</label><br>
        <input type="text" id="schoolName" name="schoolName"><br>
        <label for="schoolId">Identificación del colegio:</label><br>
        <input type="number" id="schoolId" name="schoolId"><br>
        <label for="schoolAddress">Dirección del colegio:</label><br>
        <input type="text" id="schoolAddress" name="schoolAddress"><br>
        <label for="schoolPhone">Teléfono de contacto:</label><br>
        <input type="tel" id="schoolPhone" name="schoolPhone"><br>
        <label for="schoolEmail">Email de contacto:</label><br>
        <input type="email" id="schoolEmail" name="schoolEmail"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
