<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Más información de la organización</h2>
                <p>Somos una organización que mejora la calidad de vida de personas con discapacidad física a través de proyectos de infraestructura accesible.</p>
                <p>Buscamos la igualdad de oportunidades creando espacios inclusivos y promoviendo la autonomía y participación en la sociedad.</p>
            </div>
            <div class="col-md-4">
                <h2>Medios de difusión</h2>
                <ul class="list-unstyled">
                    <li>
                        <img src="assets/icon/iconoFace.png" alt="Facebook">
                        <span>Síguenos en Facebook</span>
                    </li>
                    <li>
                        <img src="assets/icon/ig.png" alt="Instagram">
                        <span>Síguenos en Instagram</span>
                    </li>
                    <li>
                        <img src="assets/icon/yu.png" alt="Youtube">
                        <span>Síguenos en Youtube</span>
                    </li>
                    <li>
                        <img src="assets/icon/tt.png" alt="Twitter">
                        <span>Síguenos en Twitter</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Información Contactos</h2>
                <ul class="list-unstyled">
                    <li>
                        <img src="assets/icon/lugar.png" alt="Ubicación">
                        <span>Providencia, Chile. Edificio Manuel Montt, piso #4</span>
                    </li>
                    <li>
                        <img src="assets/icon/telef.png" alt="Teléfono">
                        <span>+600 999 817</span>
                    </li>
                    <li>
                        <img src="assets/icon/mails.png" alt="Email">
                        <span>gestion@chileinclusivo.org</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p>© 2023 Todos los Derechos Reservados | <a href="" class="text-decoration-none text-white">Chile Inclusivo</a></p>
                <p><a href="quienesSomos.html" class="text-decoration-none text-white">Quiénes somos</a> | <a href="politicas.html" class="text-decoration-none text-white">Privacidad y Política</a></p>
            </div>
        </div>
    </div>
</footer>