<div class="container contenedor titulo-index">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 contenido-index">
            <div class="my-4">
                <h2 class="display-6">¿Sabías que 1 de cada 5 adultos en Chile tiene algún tipo de discapacidad?</h2>
            </div>
            <div class="my-4">
                <p> Los problemas de accesibilidad los marginan de participar plenamente en la sociedad. Obstáculos en las calles, un transporte hostil y falta de fiscalización a leyes que los protegen, siguen invisibilizando a un importante sector de la población que ven vulnerados día a día sus derechos fundamentales.</p>
            </div>
            <div class="my-4 text-center publicaciones-index">
                <a [routerLink]="['/noticias']" class="btn boton-index">Noticias</a>
            </div>
        </div>
    </div>
</div>