<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">N
      <img src="/Prototipo/Front-end/src/assets/img/napsisworld.png" alt="">
    </button>
    
    
    <div class="logo-text" *ngIf="collapsed">Napsis School</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fa-solid fa-x"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed"> {{data.label}} </span>

      </a>
    </li>
  </ul>
</div>







